@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 30, 35, 28;
	--background-end-rgb: 0, 0, 0;
	--emphasis: #799970;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

* {
	/* font-family: "Verdana", "sans-serif";  */
	font-family: "DejaVu Sans Mono", monospace;
	font-size: calc(10px + 0.9vw);
	list-style-type: circle;
	list-style-position: inside;
	color: white;
}

#education {
	margin-top: 100vh;
}

#experiences {
	margin-top: 15%;
}

#projects {
	margin-top: 15%;
}

/* source code for hover animation : https://www.30secondsofcode.org/css/s/hover-underline-animation/  */
.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: var(--emphasis);
}

.hover-underline-animation::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--emphasis);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* source code for static text: https://css-tricks.com/making-static-noise-from-a-weird-css-gradient-bug/ */
.box {
	text-transform: uppercase;
	color: #0000;
	font-family: sans-serif;
	line-height: 100%;
	font-weight: bold;
	/* background: repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0/2500px 2500px,
		repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 50%/2500px 2500px; */
	background: repeating-radial-gradient(#000 0 0.007%, #fff 0 0.00999999%) 50% 0/2500px 2500px,
		repeating-conic-gradient(#000 0 0.002%, #fff 0 0.004%) 50% 50%/2500px 2500px;
	background-blend-mode: difference;
	mix-blend-mode: lighten;
	-webkit-background-clip: text;
	background-clip: text;
}

.ridaname {
	font-size: calc(40px + 5vw);
}

.subheading {
	font-size: calc(20px + 5vw);
}

@media only screen and (max-width: 500px) {
	.box {
		color: var(--emphasis);
		font-family: sans-serif;
		line-height: 100%;
		font-weight: bold;
		/* background: repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0/2500px 2500px, */
		/* repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 50%/2500px 2500px; */
		/* background: repeating-radial-gradient(#000 0 0.007%, #fff 0 0.00999999%) 50% 0/2500px 2500px, */
		/* repeating-conic-gradient(#000 0 0.002%, #fff 0 0.004%) 50% 50%/2500px 2500px; */
		background-blend-mode: difference;
		mix-blend-mode: lighten;
		-webkit-background-clip: text;
		background-clip: text;
	}
}
